.main-bg {
  background-color: #f2eae2;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-card {
  background-color: #ffffff;
  height: 611px;
  width: 343px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
}
.product-title {
  color: #1c232b;
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "SOFT" 0, "WONK" 0;
  font-size: 32px;
  line-height: 32px;
}
.product-description {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 23px;
  color: #6c7289;
  margin-top: 16px;
}
.price-discounted {
  color: #3d8168;
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  margin-right: 19px;
}
.price-original {
  color: #6c7289;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 13px;
  line-height: 23px;
  text-decoration: line-through;
}
.add-to-cart-btn {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 100%;
  color: #ffffff;
  background-color: #3d8168;
  height: 48px;
  width: 295px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11.61px;
  transition: background-color 0.3s ease;
}
.add-to-cart-btn:hover {
  background-color: hsl(158, 36%, 27%);
}
.product-content {
  padding: 0 23px 24px 25px;
}
.product-price {
  margin-top: 24px;
}
